.footer
	display: block
	width: 100%
	height: auto
	background #404146
	color: white
	text-align: center
	padding: 7px
	margin-top: 15px
	box-sizing: border-box
	&__select
		position: absolute
		bottom: 0
		right: calc(50vw - 87px)
		z-index: -1
	&__social
		padding: 7px
	&__copyright
		padding: 3px 0 7px 0
		&_made
			font-size: 15px
			font-weight: 400
		&_bio
			text-decoration: none
			font-weight: 400
			color: #29ce9a
			&:hover
				color: #16AC7D

