// 1 - BASICS
@import '1-basic/_basic'

// 2 - HEADER
@import '2-head/_head'

// 3 - MAIN CONTAINER
@import '3-main/_main'

// 4 - FOOTER
@import '4-footer/_footer'

// 6 - VARIABLES
@import '6-variables/_variables'
