@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Quicksand:300,400,500')

$default 	= #d9e1e8
$danger 	= #f1404b
$primary 	= #84B1ED
$warning 	= #f9a11b
$success 	= #28b78d
$royal 		= #9055A2
$fashion	= #ed317f

html, body
	width: 100%
	height: 100%

body
	font-family 'Quicksand', 'Roboto', 'Arial', sans-serif
	font-weight 400
	margin: 0
	box-sizing: content-box