.wrapper__title
	height: 330px
	background: url('../img/bg.jpg') no-repeat
	background-size: cover
	background-clip: border-box
	background-position: bottom

.title
	display: block
	position: relative
	min-width: 320px
	max-width: 1024px
	margin: 0 auto
	&__text
		display: block
		position: relative
		color: white
		top: 50px
		left: 20px
		& h1
			margin: 0
	&__btn
		display: block
		position: relative
		top: 75px
		text-align: center
		vertical-align: middle
		& button
			border-radius: 7px
			font-size: 19px
			font-weight: 100
			margin: 7px 10px
			& a
				text-decoration: none
				color: white
			&:hover
				background: rgba(0,0,0,.25)
